body {
  background: #e74c3c;
  color: #FFFFFF;

  font-family: 'Istok Web', sans-serif;
}

.card {
  position: relative;
  background: #FAFAFA;
  margin: 8% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
  color: #e74c3c;

}
.quote-content {
    font-family: 'Lora', serif;
    text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.5em;
}

.quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.clicks {
  margin-top: 0.5em;
}
.btn {
 background: #e74c3c;
 color: #FFFFFF;
 border: none;
}

.btn:focus {
  outline: none;
}

.action {
  float: right;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}

a {
  color: #FAFAFA;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
